<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".WanAndroidApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.WanAndroidCompose"
        tools:targetApi="31">
        <activity
            android:name=".ui.account.AccountActivity"
            android:exported="false"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".ui.main.knowledge_system.KnowledgeSystemActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.sidebar.share.MySharePage"
            android:exported="true" />
        <activity
            android:name=".ui.sidebar.collect.CollectPage"
            android:exported="true" />
        <activity
            android:name=".ui.sidebar.rank_list.RankingListActivity"
            android:exported="true" />
        <activity
            android:name=".ui.sidebar.seting.SettingActivity"
            android:exported="true" />
        <activity
            android:name=".ui.sidebar.integral.IntegralPage"
            android:exported="true" />
        <activity
            android:name=".ui.main.search.SearchPage"
            android:exported="true" />
        <activity
            android:name=".ui.main.search.SearchResultPage"
            android:exported="true" />
        <activity
            android:name=".ui.WebActivity"
            android:exported="true" />
        <activity
            android:name=".ui.sidebar.share.ShareArticlePage"
            android:exported="true" />
    </application>

</manifest>